.Container {
  border-radius: 15px;
  width: 50%;
  margin: 5% auto;
  padding: 20px;
  background: white;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.TaskList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
  background-color: #ececec;
}

.empty-list {
  text-align: center;
  img {
    position: relative;
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .Header {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    & > div {
      flex-direction: column;
      width: 100%;
      & > div {
        width: 100%;
        input {
          width: 100%;
          text-align: center;
        }
      }
    }
    Button {
      width: 100%;
    }
  }

  .TaskList {
    .Priority {
      flex-direction: column;
    }
  }
}
